---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #EAE1DF, #38618C)
}
.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #227C9D
}

div#content {
  height: 395px;
  margin: auto;
  overflow: hidden;
  width: 770px;
}

div#content iframe {
  border: 0 solid;
  height: 1103px;
  margin-left: -110px;
  margin-top: -385px;
  width: 979px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
}
